body,
html {
  height: 100%;
  margin: 0rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-color: black;
  color: white;
}
.main-container{
        display: flex;
        flex: 1;
        overflow: hidden;
}
header {
    top: 0;
    flex:0.2;
    padding: 20px;
    background-color: black;
    color: white;
    overflow: hidden !important;
}
header .nav-links,.header .playlist{
    opacity: 0.7;
}

a {
    color: var(--white);
    text-decoration: none;
  }

    /* And some styling for the navigation links here */
    header .nav-links{
        margin-top:1.7rem;
    }
    header .playlist{
        margin-top:2rem;
    }
    .link-flex {
        display: flex;
        border-radius: 5px;
        justify-content:flex-start;
        gap: 1.5rem;
        padding-left:0.8rem;
        padding-bottom:0.5rem;
        padding-top: 0.5rem;
        align-items: center;
        font-weight: 700;
        font-size: 1.1rem;
        cursor: pointer;
      }
      
      .link-flex:hover {
        background-color:  #232323;
        transition: all 0.3s;
      }
      
      .link-flex img {
        height: 1.4rem;
        width: 1.4rem;
      }

.playlist .link-flex img{
    height:1.5rem;
    width:1.5rem;
}
 .album-art>img{
    width:200px;
    height: 200px;
    margin-top:7rem;
}
main.main-content{
    flex: 0.8;
    background-color: #000;
   overflow-y:auto!important;
   
  }

  .main-content .album-details{
    background: linear-gradient(180deg, #90AEA7 0%, #000 100%);

  }

  .cover{
    display: flex;
    justify-content: flex-start;
    gap:0.5rem;
  }

  .cover .details{
    display:flex;
    flex-direction: column;
    justify-content: center;

  }
  .details a.description{
    opacity: 0.8;
  }
  .details .description span{
    color:white;

  }
  .album-controls{
    margin-left:2rem ;
    display: flex;
    gap:0.5rem;
    justify-content: flex-start;
    opacity: 0.8;
  }
  .details a.heading{
    font-size: 60px;
    font-weight: 900;
    font-family: sans-serif;
    font-style: normal;
  }
  .browse-section{
    display: flex;
    flex-direction: column;
    margin-left:2rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
  }
  .browse-section .flex-title{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:22.5rem;
    opacity:0.7;
    font-size: small;

  }
  .flex-box{
    display: flex;
    border-radius: 7px;
    justify-content: space-between;
    align-items: center;
    padding-left:0.3rem;
    padding-right: 0.3rem;
  }
  .flex-box .left{
    display: flex;
    align-items: center;
    gap:0.5rem;
  }
  .flex-box .left p{
    margin:0;
    font-size: 15px;
  }
  .flex-box .right{
    display:flex;
   gap:0.5rem;
   opacity:0.7;
  }
  .flex-box:hover{
    background-color:  #232323;
    transition: all 0.3s;  }
  #musicplayer {
    width:100vw;
    height:auto;
    position: fixed;
    bottom: 0;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:9%;
    background-color: #121212;
  }
 .track{
    /* And some styling for the track info here */
    padding:1rem;
    display: flex;
    justify-content:flex-start;
    gap:1rem;
    align-items: center;
    width:20vw;

}
 .controls {
    /* We can add styling specifically for the play/pause, next/prev buttons here */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
}
.track p{
    font-size: 13px;
    margin:0;

}
.player-controls {
    display: flex;
    align-items: center;
  }
  
.player-timeline {
    display: flex;
    align-items: center;
  }
  .timeline-slider {
    margin: 0 10px;
    width: 40vw;
  }

  .timeline-slider,
  .volume-slider {
    -webkit-appearance: none;
  }
  
  .timeline-slider::-webkit-slider-runnable-track,
  .volume-slider::-webkit-slider-runnable-track {
    height: 4px;
    background: #ddd;
    border: none;
    border-radius: 100px;
  }
  
  .timeline-slider::-webkit-slider-thumb,
  .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #1bd760;
    margin-top: -6px;
  }
  
  .timeline-slider:focus,
  .volume-slider:focus {
    outline: none;
  }
  
  .timeline-slider:focus::-webkit-slider-runnable-track {
    background: #ccc;
  }
      

#musicPlayer .progress-bar {
    /* And finally some styling for the progress bar */

}

.volume{
    /* And some styling for the volume controls */
    width:20vw;
    display:flex;
    align-items: center;
}

.volume-slider {
    width: 100px;
    height: 4px;
  }